<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Favr{% endblock %}</title>
    <script src="/static/js/favr.bundle.js"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
