{% extends "layout.jinja" %}

{% block body %}
    <div class="container">
        <form method="post" class="form-signin">
            <h2 class="form-signin-heading">Login</h2>

            <label for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <br>

            <button class="btn btn-primary btn-block" type="submit">Login</button>
            <br>
            <a class="btn btn-danger btn-block" type="button" href="/fogot_pass">Forgot Password?</a>
            <hr style="border-color: #2c3e50 !important;">
            <a class="btn btn-default btn-block" type="button" href="/register">Register</a>
        </form>

    </div> <!-- /container -->
{% endblock %}
